.navbar {
  height: 80px;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: var(--selected-theme-background-color);
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    &_logo {
      color: var(--selected-theme-main-color);
      cursor: pointer;
      font-size: 2rem;
      flex-grow: 1;
    }
    &_menu {
      display: flex;
      text-align: center;
      align-items: center;
      &_item {
        margin-right: 1.5rem;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
          display: inline-block;
          &:last-child{
            margin-right: 0;
          }
            &_link {
          color: var(--selected-theme-main-color);
          font-family: var(--font-base);
          position: relative;
          &::before {
            position: absolute;
            content: "";
            height: 3px;
            width: 0;
            background: transparent;
            transition: width 0.5s ease;
            bottom: -6px;
            left: 0;
        
          }
        } 
        &:hover a::before {
          width: 100%;
          background-color: var(--selected-theme-main-color);
        }
      }
    }
    .nav-icon{
      display: none;
      cursor: pointer;
      color: var(--selected-theme-main-color);
      font-size: 2.5rem;
      background-color: transparent;
      border: none;
      z-index: 1;
    }
    @media screen and (max-width: 768px) {
        &_menu{
            flex-direction: column;
            justify-content: center;
            width: 230px;
            position: fixed;
            top: 0;
            transform: translateX(100%);
            opacity: 1;
            transition: all 0.5s ease;
            background-color: var(--selected-theme-background-color);
            right: 0;
            height: 100vh;
          &.active{
            transform: translateX(0%);
            z-index: 1;
          transition: all 0.5s ease;
          }
          &_item{
            margin: 0;
            margin-bottom: 20px;
            font-size: 4rem;
          &:last-child{
            margin-bottom: 0;
          }}
      }
      .nav-icon{
        display: block;
        
      }
    }
  }
}
