.style-switcher {
  position: fixed;
  bottom: 100px;
  background-color: #ffffff;
  right: 0;
  z-index: 999;
  padding: 15px;
  border: 1px solid #d4d4e3;
  border-radius: none;
  border-radius: 0 0 0 5px;
  width: 150px;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.style-switcher.open {
  transform: translateX(0%);
}

.style-switcher h5 {
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  shape-margin: 8px;
  border-bottom: 1px solid #d4d4e3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.style-switcher ul {
  margin: 0;
}

.style-switcher ul {
  margin: 0;
  display: flex;
gap: 10px;
flex-wrap: wrap;
}

.style-switcher ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.style-switcher .toggle-style-switcher {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: var(--selected-theme-main-color);
  left: -46px;
  color: var(--selected-theme-sub-text-color);
  top: -1px;
  border-bottom: 1px solid  var(--selected-theme-main-color);
  border-right: none;
  border-radius: 5px 0 0 5px;
  display: grid;
  place-items: center;
    cursor: pointer;
}

.style-switcher .toggle-style-switcher svg{
    animation: rotateSpin 2s linear infinite;
    width: 20px;
    height: 20px;
}
@keyframes rotateSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
