@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --selected-theme-background-color: var(--yellow-theme-background-color);
  --selected-theme-main-color: var(--yellow-theme-main-color);
  --selected-theme-sub-text-color: var(--yellow-theme-sub-text-color);
  --selected-theme-nav-background-color: var(--yellow-theme-nav-background-color);

  --yellow-theme-background-color : #303030;
  --yellow-theme-main-color : #ffdd40;
  --yellow-theme-sub-text-color : #ffffff;
  --yellow-theme-nav-background-color : #181818;


  --red-theme-background-color : #1d1d1d; 
  --red-theme-main-color : #d70d25; 
  --red-theme-sub-text-color : #ffffff;
  --red-theme-nav-background-color : #181818;

  --green-theme-background-color : #1d1d1d; 
  --green-theme-main-color : #6ac045; 
  --green-theme-sub-text-color : #ffffff;
  --green-theme-nav-background-color : #181818;


  --aqua-theme-background-color : #1d1d1d; 
  --aqua-theme-main-color : #05b3b6; 
  --aqua-theme-sub-text-color : #ffffff;
  --aqua-theme-nav-background-color : #181818;

  // fonts
  --font-base: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}
body {
  background-color: var(--selected-theme-background-color);
  height: 100%;
  font-family: var(--font-base);
}
#root {
  height: 100%;
}
.App{
  height: 100%;
  &_main_wrapper{
    height: calc(100% - 100px);
  }
}

@media screen and (max-width: 576px) {
  html{
    font-size: 50%;
  }
}